/* Body settings */
body
{
    font-family: Brush Script MT, Brush Script Std, cursive;
    background-image: url("../media/tile.png");
}
/* Header 1 settings */
h1
{
    text-decoration: underline;
}
/* Navbar settings */
.navbar
{
    border: 2px solid black;
    background-color: #222222;
    margin-bottom: 0;
}
.navbar-inverse
{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.navbar-inverse .navbar-brand
{
    margin: 10px;
    color: white;
    font-size: 30px;
}
.navbar-inverse .navbar-nav li a
{
    margin: 10px;
    color: #f7f7f7;
    font-size: 30px;
}
.navbar-inverse .navbar-nav li a:hover
{
    border-radius: 25px;
    background: #27A967;
}
/* Page container */
.container
{
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
/* Jumbotron */
.jumbotron
{
    border: 2px solid black;
    margin-top: 20px;
    background-color: #222222;
    color: white;
    text-align: center;
}
.jumbotron p
{
    color: white;
    font-size: 20px;
}
/* Facebook feed */
.fb-page
{
    border-radius: 25px;
    margin-left: -20px;
    float: left;
    display: block;
    width: 180px;
    height: 70px;
}
/* Footer */
.footer
{
    border: 2px solid black;
    border-radius: 25px;
    color: white;
    text-align: center;
    background-color: #222222;
}
.footer > ul > li
{
    margin-left: 20px;
    display: inline;
    font-size: 20px;
}
/* Popup image descriptions */
.img_description
 {
     position: absolute;
     right: 10%;
     left: 10%;
     bottom: 5px;
     color: white;
     background: #222222;
     border-radius: 25px;
 }
/* Col-md 3 settings */
.col-md-3
{
    margin-left: 25px;
    display: block;
}
.col-md-3 > h2
{
    margin-left: 30px;
}
.col-md-3 > img
{
    width: 100%;
    height: 250px;
    border-radius: 25px;
}
/* Col-md 4 settings */
.col-md-4
{
    margin-top: 20px;
    display: block;
}
.col-md-4 > img
{
    width: 100%;
    height: 250px;
    border-radius: 25px;
}
.col-md-4 > ul > li, a
{
    text-align: left;
    list-style-type: none;
    font-size: 20px;
}
.col-md-4 > p
{
    font-size: 25px;
}
/* Col-md 6 settings */
.col-md-6
{
    margin-top: 20px;
    display: block;
}
.col-md-6 > p
{
    font-size: 30px;
    text-align: left;
}
/* Col-md 9 settings */
.col-md-9
{
    margin-right: -40px;
    display: block;
    float: right;
}
.col-md-9 > img
{
    margin-top: 33px;
    margin-right: -5px;
    width: 88%;
    height: 250px;
    border-radius: 25px;
}
.col-md-9 > h3
{
    margin-top: 110px;
    margin-bottom: 110px;
    font-size: 40px;
}
/* Col-md 12 settings */
.col-md-12
{
    display: block;
    margin-bottom: 25px;
}
.col-md-12 > img
{
    border-radius: 25px;
}
/* Zooms in on pictures. */
.zoom:hover
{
    position: relative;
    z-index: 1; /* Credit to Donnie Bowers. Thanks again! */
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}
/* Map properties, Credit: https://www.codexworld.com/adding-google-map-on-website-within-5-minutes/ */
#map
{
    border-radius: 25px;
    width: 100%;
    height: 400px;
}
.mapContainer
{
    width:50%;
    position: relative;
}
.mapContainer a.direction-link
{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100010;
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    padding: 8px 20px 8px 50px;
}
.mapContainer a.direction-link:hover
{
    text-decoration: none;
    color: #FFF;
}